.mainbtn {
    background-color: #FFFFFF;
    border: none;
    border-radius: 15px;
    color: #1C0820;
    font-weight: bold;
    height: 37px;
    position: absolute;
    right: 20px;
    width: 135px;
    padding: 10px 14px;
}
 

.v-line {
    border-left: 10px solid #FFFFFF;
    height: 1635px;
    /*left: 350px;*/
    top: 175px;
}

.timeline{   
    width: 770px;
    height: 1750px
}

  

/* CARDS PROJETOS
