/*Home*/

#title {
    color: #FFFFFF;
    font-size: 30px; 
    font-weight: bold;
    width: 500px;
    text-align: center;
    top: 220px;
    left: 705px;
}

#homebody {
    display: flex;
    gap: 100px;
    margin-top: 50px;
}


#home-text {
    display: list-item;
    text-align: justify;
}

/*Projects */

#title-exp {
    color: #FFFFFF;
    font-size: 40px; 
    font-weight: bold;
    width: 760px;
    text-align: center;
    justify-self: center;    
}

#label-year{
    font-size: 20px;
    font-weight: bolder ;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 1px;
}

#label-title{
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 1px;
}

#label-desc{
    font-size: 20px;
    font-weight: lighter;
    color: #B3B3B3;
    width: 760px;
    text-align: left;
    text-align: justify;

}

#label-keyresp li{
    font-size: 20px;
    font-weight: lighter;
    color: #B3B3B3;
    width: 760px;
    text-align: left;
    text-align: justify;
}

#full-timeline{
    text-align: center;
    display: flex;
    max-height: 30px;
    justify-content: center;
    margin: 0 auto;
    gap: 100px;
    margin-top: 50px;
} 
