#title {
color: #FFFFFF;
font-size: 30px; 
font-weight: bold;
width: 430px;
text-align: center;
top: 220px;
left: 705px;
}

#homebody {
    display: flex;
}

#x-body {
    text-align: center;

}
