@import url('layout.css');
@import url('components.css');

:root {
    --bgcolor: #202020;
    --light-gray: #D3D3D3;
    --cor1: #AE39C6;
    --cor2: #A83EBE;
    --cor4: #571D63;
    --cor5: #BE61D1; 
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--bgcolor);
    margin: 0;
    padding: 0;
    padding-bottom: 70px; 
    overflow-x: hidden; 
}

main {
    min-height: calc(100vh - 200px);
}
